@keyframes colorful{
  0%{background-color: #150950;}
  25%{background-color: #519eba;}
  50%{background-color: #2eb367;}
  75%{background-color: #463f42;}
  100%{background-color: #150950;}
}

@keyframes lap{
    0%   {left:0; top:0;}
    25%  {left:200px; top:0;}
    50%  {left:200px; top:200px;}
    75%  {left:0; top:200px;}
    100% {left:0; top:0;}
}
body{
  background-color: #150950;
  animation-name: colorful;
  animation-duration: 7.5s;
  animation-iteration-count: 3;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-delay: 2s;
}

h1{
  font-family: 3270;
  color: #930d41;
  text-align: center;
}

h2{
  font-family: "Monospace Corsiva", monospace;
  color: #7cf2e1;
  text-align: center;
}

img{
  display: block;
  margin: auto;
  height: 60%;
  width: 50%;
}

h3{
  background-color: #610e0e;
  font-family: "Monospace Corsiva", Georgia, serif;
  color: #ffffff;
  text-align: center;
}

h4{
  font-family: "Monospace Corsiva", Georgia, serif;
  color: #7cf2e1;
  text-align: left;
}

.banner{
  background-color: #c4db04;
  background-size: auto;
  transition: all 1s ease-in-out;
  max-height: 35%;
  color: #e25d60;
}

.banner:hover{
  background-color: #f18a50;
  transition: all 1s ease-in-out;
  max-height: 35%;
  color: #e25d60;
}

.links{
  background-color: #000000;
  background-size: auto;
  transition: all 1s ease-in-out;
  max-height: 25%;
}

.links:hover{
  background-color: #ffffff;
  transition: all 1s ease-in-out;
  max-height: 25%;
}

p{
  color: #17b8b3;
}

.work{
  color: #5aec53;
}

.righted{
  text-align: right;
}

.centerly{
  text-align: center;
  color: #96ed59;
}

.asura{
  color: #31313c;
}
